<FluentStack Class="nav" Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
    <FluentNavMenu Title="Acme.CO" TitleIcon="@(new Icons.Regular.Size24.Building())">
        <a href="/" class="navLink companyBar">
            <div class="logo">
                <div class="innerLogo">
                    <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Logo" clip-path="url(#clip0_837_865)">
                            <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M14.2857 17.1429C15.0361 17.1429 15.7792 16.9951 16.4725 16.7079C17.1658 16.4207 17.7957 15.9999 18.3264 15.4692C18.857 14.9386 19.2779 14.3087 19.5651 13.6153C19.8522 12.9221 20 12.179 20 11.4286C20 9.15535 19.0969 6.97512 17.4895 5.36769C15.8821 3.76023 13.7019 2.85718 11.4286 2.85718C9.15535 2.85718 6.97512 3.76023 5.36769 5.36769C3.76023 6.97512 2.85718 9.15535 2.85718 11.4286C2.85718 12.179 3.00498 12.9221 3.29215 13.6153C3.57932 14.3087 4.00023 14.9386 4.53085 15.4692C5.06147 15.9999 5.69141 16.4207 6.38472 16.7079C7.07798 16.9951 7.82106 17.1429 8.57146 17.1429H14.2857ZM11.4286 5.14289C9.76152 5.14289 8.16272 5.80512 6.98392 6.98392C5.80512 8.16272 5.14289 9.76152 5.14289 11.4286C5.14289 11.8788 5.23157 12.3247 5.40387 12.7407C5.57618 13.1567 5.82872 13.5346 6.14712 13.8529C6.46546 14.1713 6.84341 14.4239 7.25941 14.5962C7.67541 14.7685 8.12123 14.8572 8.57146 14.8572H14.2857C14.736 14.8572 15.1818 14.7685 15.5978 14.5962C16.0138 14.4239 16.3917 14.1713 16.7101 13.8529C17.0285 13.5346 17.281 13.1567 17.4533 12.7407C17.6256 12.3247 17.7143 11.8788 17.7143 11.4286C17.7143 9.76152 17.0521 8.16272 15.8733 6.98392C14.6945 5.80512 13.0957 5.14289 11.4286 5.14289Z" fill="#1C1A64" />
                            <path id="Vector_2" fill-rule="evenodd" clip-rule="evenodd" d="M7.42857 20C6.45303 20 5.48707 19.7783 4.58578 19.3475C3.68453 18.9168 2.8656 18.2854 2.17578 17.4895C1.48598 16.6935 0.938794 15.7487 0.565466 14.7087C0.192147 13.6688 0 12.5542 0 11.4286C0 8.39754 1.20408 5.49062 3.34735 3.34735C5.49062 1.20408 8.39754 0 11.4286 0C14.4596 0 17.3665 1.20408 19.5098 3.34735C21.6531 5.49062 22.8571 8.39754 22.8571 11.4286C22.8571 12.5542 22.665 13.6688 22.2917 14.7087C21.9183 15.7487 21.3711 16.6935 20.6814 17.4895C19.9915 18.2854 19.1726 18.9168 18.2714 19.3475C17.3701 19.7783 16.4041 20 15.4286 20H7.42857ZM4.96359 4.96359C6.67823 3.24898 9.00371 2.28571 11.4286 2.28571C13.8534 2.28571 16.1789 3.24898 17.8935 4.96359C19.6082 6.67823 20.5714 9.00371 20.5714 11.4286C20.5714 12.2959 20.4231 13.149 20.1404 13.9365C19.8577 14.7239 19.4501 15.4202 18.9541 15.9925C18.4586 16.5642 17.8883 16.9973 17.2857 17.2853C16.6846 17.5726 16.0547 17.7143 15.4286 17.7143H7.42857C6.80246 17.7143 6.17251 17.5726 5.57142 17.2853C4.96885 16.9973 4.39851 16.5642 3.90307 15.9925C3.4071 15.4202 2.99945 14.7239 2.71676 13.9365C2.43406 13.149 2.28571 12.2959 2.28571 11.4286C2.28571 9.00371 3.24898 6.67823 4.96359 4.96359Z" fill="#1C1A64" />
                            <path id="Vector_3" d="M14.2858 14.2858H11.4261C11.2341 14.2856 11.0436 14.2661 10.8572 14.2281C10.4961 14.1544 10.1508 14.011 9.84133 13.8042C9.37144 13.4903 9.00521 13.0441 8.78898 12.522C8.71887 12.3527 8.6655 12.1779 8.62921 12.0001C8.55356 11.6295 8.5519 11.2457 8.62641 10.8712C8.73664 10.317 9.00876 9.8079 9.40836 9.40836C9.8079 9.00876 10.317 8.73664 10.8712 8.62641C10.8886 8.62293 10.9059 8.61967 10.9233 8.61653C11.0908 8.58647 11.2599 8.5715 11.4286 8.5715C11.8021 8.5715 12.1737 8.6447 12.522 8.78898C13.0441 9.00521 13.4903 9.37144 13.8042 9.84127C14.1182 10.3112 14.2858 10.8636 14.2858 11.4286H12.0001C12.0001 11.3156 11.9666 11.2052 11.9038 11.1112C11.841 11.0172 11.7517 10.944 11.6473 10.9007C11.5429 10.8574 11.428 10.8461 11.3172 10.8682C11.2063 10.8902 11.1045 10.9446 11.0246 11.0246C10.9446 11.1045 10.8902 11.2063 10.8682 11.3172C10.8461 11.428 10.8574 11.5429 10.9007 11.6473C10.944 11.7517 11.0172 11.841 11.1112 11.9038C11.2052 11.9666 11.3156 12.0001 11.4286 12.0001H14.2858C14.3608 12.0001 14.4352 11.9853 14.5045 11.9566C14.5738 11.9278 14.6368 11.8858 14.6898 11.8327C14.7429 11.7796 14.785 11.7166 14.8137 11.6473C14.8424 11.578 14.8572 11.5037 14.8572 11.4286C14.8572 10.5193 14.496 9.64727 13.853 9.0043C13.21 8.36127 12.338 8.00007 11.4286 8.00007C11.33 8.00007 11.2318 8.0043 11.1344 8.0127C10.8948 8.03333 10.6592 8.07904 10.4315 8.1483C10.2074 8.21636 9.99093 8.30727 9.78538 8.4195C9.54996 8.54807 9.32893 8.70464 9.1275 8.88704C9.08556 8.92498 9.04447 8.96407 9.0043 9.0043C8.72298 9.28555 8.49561 9.61076 8.32881 9.96367C8.24544 10.1401 8.17716 10.3235 8.12493 10.5118C8.06516 10.7272 8.0263 10.9489 8.00956 11.174C8.00327 11.2585 8.00007 11.3434 8.00007 11.4286C8.00007 11.8767 8.0879 12.3227 8.26104 12.7407C8.52058 13.3672 8.96001 13.9026 9.52384 14.2794C9.52704 14.2816 9.53024 14.2837 9.53344 14.2858H8.5715C8.1963 14.2858 7.82476 14.2119 7.47813 14.0683C7.1315 13.9247 6.81653 13.7142 6.55121 13.4489C6.2859 13.1836 6.07544 12.8686 5.93184 12.522C5.78824 12.1754 5.71436 11.8038 5.71436 11.4286C5.71436 9.9131 6.31641 8.45967 7.38801 7.38801C8.45967 6.31641 9.9131 5.71436 11.4286 5.71436C12.9442 5.71436 14.3976 6.31641 15.4693 7.38801C16.5409 8.45967 17.1429 9.9131 17.1429 11.4286C17.1429 11.8038 17.069 12.1754 16.9254 12.522C16.7818 12.8686 16.5714 13.1836 16.3061 13.4489C16.0408 13.7142 15.7258 13.9247 15.3792 14.0683C15.0325 14.2119 14.661 14.2858 14.2858 14.2858Z" fill="#1C1A64" />
                        </g>
                        <defs>
                            <clipPath id="clip0_837_865">
                                <rect width="22.8571" height="20" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                </div>
            </div>
            <div class="companyName">Acme.co</div>
            <div class="outerArrow">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="ri:arrow-drop-down-fill">
                        <path id="Vector" d="M10.0001 11.6668L6.66675 8.3335H13.3334L10.0001 11.6668Z" fill="white" />
                    </g>
                </svg>
            </div>
        </a>
        <a class="navLink home" href="/">
            <span>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20" height="20" fill="#BCBBBB" />
                    <path d="M-124 -192C-124 -193.105 -123.105 -194 -122 -194H2009C2010.1 -194 2011 -193.105 2011 -192V1028C2011 1029.1 2010.1 1030 2009 1030H-122C-123.105 1030 -124 1029.1 -124 1028V-192Z" fill="#D4D4D4" />
                    <path d="M-122 -193H2009V-195H-122V-193ZM2010 -192V1028H2012V-192H2010ZM2009 1029H-122V1031H2009V1029ZM-123 1028V-192H-125V1028H-123ZM-122 1029C-122.552 1029 -123 1028.55 -123 1028H-125C-125 1029.66 -123.657 1031 -122 1031V1029ZM2010 1028C2010 1028.55 2009.55 1029 2009 1029V1031C2010.66 1031 2012 1029.66 2012 1028H2010ZM2009 -193C2009.55 -193 2010 -192.552 2010 -192H2012C2012 -193.657 2010.66 -195 2009 -195V-193ZM-122 -195C-123.657 -195 -125 -193.657 -125 -192H-123C-123 -192.552 -122.552 -193 -122 -193V-195Z" fill="black" fill-opacity="0.1" />
                    <rect width="264" height="1024" transform="translate(-24 -94)" fill="#0E0D32" />
                    <g filter="url(#filter0_ii_156_758)">
                        <rect x="-8" y="-8" width="232" height="36" rx="4" fill="#C7C6FE" />
                        <path d="M17.5 16.6668C17.5 16.8878 17.4122 17.0998 17.2559 17.256C17.0996 17.4123 16.8877 17.5001 16.6667 17.5001H3.33333C3.11232 17.5001 2.90036 17.4123 2.74408 17.256C2.5878 17.0998 2.5 16.8878 2.5 16.6668V7.76178C2.49995 7.6359 2.52842 7.51165 2.58326 7.39835C2.63811 7.28506 2.71791 7.18565 2.81667 7.10761L9.48333 1.84844C9.63046 1.73219 9.81249 1.66895 10 1.66895C10.1875 1.66895 10.3695 1.73219 10.5167 1.84844L17.1833 7.10678C17.2822 7.18491 17.3621 7.28444 17.4169 7.39789C17.4718 7.51135 17.5002 7.63576 17.5 7.76178V16.6668ZM5.83333 10.0001C5.83333 11.1052 6.27232 12.165 7.05372 12.9464C7.83512 13.7278 8.89493 14.1668 10 14.1668C11.1051 14.1668 12.1649 13.7278 12.9463 12.9464C13.7277 12.165 14.1667 11.1052 14.1667 10.0001H12.5C12.5 10.6632 12.2366 11.299 11.7678 11.7679C11.2989 12.2367 10.663 12.5001 10 12.5001C9.33696 12.5001 8.70107 12.2367 8.23223 11.7679C7.76339 11.299 7.5 10.6632 7.5 10.0001H5.83333Z" fill="#4541FC" />
                    </g>
                    <defs>
                        <filter id="filter0_ii_156_758" x="-8" y="-8" width="232" height="37" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="1" />
                            <feGaussianBlur stdDeviation="0.5" />
                            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0.513726 0 0 0 0 0.513726 0 0 0 0 0.54902 0 0 0 0.04 0" />
                            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_156_758" />
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="1" />
                            <feGaussianBlur stdDeviation="1" />
                            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0.027451 0 0 0 0 0.0235294 0 0 0 0 0.0980392 0 0 0 0.01 0" />
                            <feBlend mode="normal" in2="effect1_innerShadow_156_758" result="effect2_innerShadow_156_758" />
                        </filter>
                    </defs>
                </svg>
            </span>Homes
        </a>
        <div class="label"> WORKSPACE </div>
        <a class="navLink general" style="margin-top:8px" href="/">
            <span>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="ri:id-card-fill">
                        <path id="Vector" d="M0.833252 4.16659C0.833252 3.94557 0.921049 3.73361 1.07733 3.57733C1.23361 3.42105 1.44557 3.33325 1.66659 3.33325H18.3333C18.5543 3.33325 18.7662 3.42105 18.9225 3.57733C19.0788 3.73361 19.1666 3.94557 19.1666 4.16659V15.8333C19.1666 16.0543 19.0788 16.2662 18.9225 16.4225C18.7662 16.5788 18.5543 16.6666 18.3333 16.6666H1.66659C1.44557 16.6666 1.23361 16.5788 1.07733 16.4225C0.921049 16.2662 0.833252 16.0543 0.833252 15.8333V4.16659ZM10.8333 6.66659V8.33325H15.8333V6.66659H10.8333ZM14.9999 9.99992H10.8333V11.6666H14.9999V9.99992ZM8.74992 8.33325C8.74992 7.78072 8.53043 7.25081 8.13972 6.86011C7.74902 6.46941 7.21912 6.24992 6.66659 6.24992C6.11405 6.24992 5.58415 6.46941 5.19345 6.86011C4.80275 7.25081 4.58325 7.78072 4.58325 8.33325C4.58325 8.88579 4.80275 9.41569 5.19345 9.80639C5.58415 10.1971 6.11405 10.4166 6.66659 10.4166C7.21912 10.4166 7.74902 10.1971 8.13972 9.80639C8.53043 9.41569 8.74992 8.88579 8.74992 8.33325ZM6.66659 11.2499C5.89304 11.2499 5.15117 11.5572 4.60419 12.1042C4.05721 12.6512 3.74992 13.393 3.74992 14.1666H9.58325C9.58325 13.393 9.27596 12.6512 8.72898 12.1042C8.182 11.5572 7.44013 11.2499 6.66659 11.2499Z" fill="white" />
                    </g>
                </svg>
            </span>Engage
        </a>
        <a class="navLink general" href="/">
            <span>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="ri:chat-smile-3-fill">
                        <path id="Vector" d="M10.0001 1.66675C14.6026 1.66675 18.3334 5.39758 18.3334 10.0001C18.3334 14.6026 14.6026 18.3334 10.0001 18.3334H1.66675L4.10759 15.8926C3.33265 15.1196 2.7181 14.2011 2.29922 13.1899C1.88034 12.1787 1.6654 11.0946 1.66675 10.0001C1.66675 5.39758 5.39759 1.66675 10.0001 1.66675ZM13.3334 10.8334H6.66675C6.66675 11.7175 7.01794 12.5653 7.64307 13.1904C8.26819 13.8156 9.11603 14.1667 10.0001 14.1667C10.8841 14.1667 11.732 13.8156 12.3571 13.1904C12.9822 12.5653 13.3334 11.7175 13.3334 10.8334Z" fill="white" />
                    </g>
                </svg>
            </span>Advisor
        </a>
        <a class="navLink general" href="/">
            <span>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="ri:todo-fill">
                        <path id="Vector" d="M14.1667 1.66667H16.6667C16.8877 1.66667 17.0996 1.75446 17.2559 1.91074C17.4122 2.06702 17.5 2.27899 17.5 2.5V17.5C17.5 17.721 17.4122 17.933 17.2559 18.0893C17.0996 18.2455 16.8877 18.3333 16.6667 18.3333H3.33333C3.11232 18.3333 2.90036 18.2455 2.74408 18.0893C2.5878 17.933 2.5 17.721 2.5 17.5V2.5C2.5 2.27899 2.5878 2.06702 2.74408 1.91074C2.90036 1.75446 3.11232 1.66667 3.33333 1.66667H5.83333V0H7.5V1.66667H12.5V0H14.1667V1.66667ZM5.83333 6.66667V8.33333H14.1667V6.66667H5.83333ZM5.83333 10V11.6667H14.1667V10H5.83333Z" fill="white" />
                    </g>
                </svg>
            </span>Content Library
        </a>
        <a class="navLink general" href="/">
            <span>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="ri:chat-check-fill">
                        <path id="Vector" d="M5.37925 15.8333L1.66675 18.75V3.33333C1.66675 3.11232 1.75455 2.90036 1.91083 2.74408C2.06711 2.5878 2.27907 2.5 2.50008 2.5H17.5001C17.7211 2.5 17.9331 2.5878 18.0893 2.74408C18.2456 2.90036 18.3334 3.11232 18.3334 3.33333V15C18.3334 15.221 18.2456 15.433 18.0893 15.5893C17.9331 15.7455 17.7211 15.8333 17.5001 15.8333H5.37925ZM9.41091 10.1008L7.34841 8.03833L6.17008 9.2175L9.41091 12.4583L14.1251 7.74417L12.9467 6.56583L9.41091 10.1008Z" fill="white" />
                    </g>
                </svg>
            </span>Tasks
        </a>
        <div class="label"> CONFIGURE </div>
        <a class="navLink general" style="margin-top:8px" href="/">
            <span>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="ri:refresh-fill">
                        <path id="Vector" d="M10.0001 18.3334C5.39758 18.3334 1.66675 14.6026 1.66675 10.0001C1.66675 5.39758 5.39758 1.66675 10.0001 1.66675C14.6026 1.66675 18.3334 5.39758 18.3334 10.0001C18.3334 14.6026 14.6026 18.3334 10.0001 18.3334ZM14.0167 14.2301C15.0227 13.2766 15.6563 11.9962 15.804 10.6181C15.9517 9.24 15.6039 7.85433 14.8229 6.70934C14.042 5.56434 12.8788 4.73483 11.5419 4.3694C10.2049 4.00398 8.78156 4.12652 7.52675 4.71508L8.33925 6.17758C8.97335 5.90199 9.66607 5.78852 10.355 5.84741C11.0439 5.9063 11.7073 6.13569 12.2854 6.51491C12.8635 6.89413 13.3382 7.41125 13.6666 8.01967C13.9951 8.62809 14.1669 9.30868 14.1667 10.0001H11.6667L14.0167 14.2301ZM12.4734 15.2851L11.6609 13.8226C11.0268 14.0982 10.3341 14.2116 9.6452 14.1528C8.9563 14.0939 8.29289 13.8645 7.71476 13.4853C7.13663 13.106 6.66196 12.5889 6.33353 11.9805C6.00509 11.3721 5.83322 10.6915 5.83341 10.0001H8.33341L5.98341 5.77008C4.97749 6.72353 4.34391 8.00399 4.19618 9.38208C4.04846 10.7602 4.39624 12.1458 5.17722 13.2908C5.9582 14.4358 7.12135 15.2653 8.45829 15.6308C9.79523 15.9962 11.2186 15.8736 12.4734 15.2851Z" fill="white" />
                    </g>
                </svg>
            </span>Integrations
        </a>
        <a class="navLink general" href="/">
            <span>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="ri:settings-4-fill">
                        <path id="Vector" d="M4.44488 3.78748C5.30049 3.02104 6.30545 2.43997 7.39655 2.08081C7.70845 2.47182 8.10448 2.78748 8.55519 3.00432C9.00591 3.22117 9.49971 3.33362 9.99988 3.33331C10.5 3.33372 10.9937 3.2214 11.4444 3.0047C11.8952 2.788 12.2912 2.4725 12.6032 2.08164C13.6943 2.4408 14.6993 3.02188 15.5549 3.78831C15.3728 4.25368 15.2979 4.75409 15.3357 5.25239C15.3735 5.75068 15.523 6.23406 15.7732 6.66664C16.0229 7.10005 16.367 7.4716 16.7801 7.75366C17.1932 8.03572 17.6645 8.22103 18.159 8.29581C18.393 9.41988 18.393 10.5801 18.159 11.7041C17.1924 11.8525 16.3007 12.4208 15.7732 13.3333C15.5229 13.766 15.3733 14.2495 15.3355 14.748C15.2977 15.2464 15.3727 15.747 15.5549 16.2125C14.6992 16.9787 13.6943 17.5594 12.6032 17.9183C12.2912 17.5275 11.8952 17.212 11.4444 16.9953C10.9937 16.7786 10.5 16.6662 9.99988 16.6666C9.49971 16.6663 9.00591 16.7788 8.55519 16.9956C8.10448 17.2125 7.70845 17.5281 7.39655 17.9191C6.30543 17.56 5.30046 16.979 4.44488 16.2125C4.62715 15.747 4.70217 15.2464 4.66437 14.748C4.62657 14.2495 4.47692 13.766 4.22655 13.3333C3.97679 12.9001 3.63259 12.5287 3.21953 12.2468C2.80648 11.9648 2.33519 11.7797 1.84071 11.705C1.60681 10.5806 1.60681 9.42016 1.84071 8.29581C2.33527 8.22103 2.8066 8.03572 3.21966 7.75366C3.63272 7.4716 3.97688 7.10005 4.22655 6.66664C4.47674 6.23406 4.62628 5.75068 4.66408 5.25239C4.70188 4.75409 4.62696 4.25285 4.44488 3.78748ZM11.2499 12.1641C11.5365 12.0012 11.788 11.7831 11.99 11.5226C12.1921 11.262 12.3405 10.9641 12.4269 10.6459C12.5133 10.3277 12.5359 9.99557 12.4934 9.66862C12.4509 9.34167 12.3441 9.02635 12.1793 8.74082C12.0144 8.4553 11.7947 8.2052 11.5328 8.00493C11.2709 7.80466 10.972 7.65817 10.6532 7.5739C10.3345 7.48962 10.0022 7.46923 9.67557 7.5139C9.34891 7.55856 9.03431 7.6674 8.74988 7.83414C8.18036 8.16802 7.76602 8.71361 7.59728 9.35185C7.42854 9.99009 7.5191 10.6692 7.84919 11.2409C8.17928 11.8126 8.72211 12.2305 9.35922 12.4035C9.99632 12.5765 10.676 12.4904 11.2499 12.1641Z" fill="white" />
                    </g>
                </svg>
            </span>Settings
        </a>
        <div style="margin-top:438px;margin-left:24px"> Looking for something? </div>
        <a style="margin-top:4px;margin-left:24px" href="/">Help & Support</a>
        
       <div class="profile">
            <div style="display:inline-block">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="Subtract" d="M0 20C0 8.95431 8.95431 0 20 0C31.0457 0 40 8.95431 40 20C40 31.0457 31.0457 40 20 40C8.95431 40 0 31.0457 0 20Z" fill="#4541FC" />
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 2C7.79086 2 6 3.79086 6 6C6 8.20914 7.79086 10 10 10C12.2091 10 14 8.20914 14 6C14 3.79086 12.2091 2 10 2ZM7 6C7 4.34315 8.34315 3 10 3C11.6569 3 13 4.34315 13 6C13 7.65685 11.6569 9 10 9C8.34315 9 7 7.65685 7 6ZM5.00873 11C3.90315 11 3 11.8869 3 13C3 14.6912 3.83281 15.9663 5.13499 16.7966C6.41697 17.614 8.14526 18 10 18C11.8547 18 13.583 17.614 14.865 16.7966C16.1672 15.9663 17 14.6912 17 13C17 11.8956 16.1045 11 15 11L5.00873 11ZM4 13C4 12.4467 4.44786 12 5.00873 12L15 12C15.5522 12 16 12.4478 16 13C16 14.3088 15.3777 15.2837 14.3274 15.9534C13.2568 16.636 11.7351 17 10 17C8.26489 17 6.74318 16.636 5.67262 15.9534C4.62226 15.2837 4 14.3088 4 13Z" fill="white" />
                </svg>

            </div>
            <div style="display:inline-block">
                <div>John Doe</div>
                <div>johndoe@email.com</div>
            </div>
        </div>
    </FluentNavMenu>
</FluentStack>